<!-- Footer -->
<footer class="text-center text-white bg-info fixed-bottom">
    <!-- Grid container -->
    <div class="container">
        <!-- Section: CTA -->
            <div class="d-flex justify-content-center align-items-center">
                <span class="me-3">Order everything</span>
                <button type="button" class="btn btn-outline-light" style="border-radius: 1.5rem; padding-top: 0.3rem; padding-bottom: 0.3rem;">
                    Login
                </button>
            </div>
        <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-2 bg-primary">
        © 2020 Copyright:
        <a class="text-white" href="http://localhost:8000">Food Ordering</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->